nav {
  background-color: rgba(255, 255, 255, 0.7);
  height: 4rem;
  width: 100vw;
}

nav .Logo {
  height: 3rem;
  margin: 0.5rem;
  position: absolute;
  left: 0.5rem;
}

nav .Lang-switcher {
  margin: 0.5rem;
  position: absolute;
  top: 0.5rem;
  right: 0;
}

.Lang-switcher button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  margin: 0.25rem;
}

@media screen and (max-width: 360px) {
  nav {
    height: 11vh;
  }

  nav .Logo {
    margin-bottom: 0;
    left: 0;
    position: relative;
  }

  nav .Lang-switcher {
    margin-top: 0;
    top: auto;
  }
}

@media screen and (max-width: 230px) {
  nav {
    height: 9vh;
  }

  nav .Logo {
    height: auto;
    width: 85vw;
  }

  nav .Lang-switcher button {
    font-size: 1rem;
  }
}
