.Semester-container {
  margin-top: 3rem;
}

.Semester-info {
  align-items: baseline;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 1rem;
}

.Semester-info h2 {
  font-size: calc(8px + 2vmin);
}

.Semester-info h4 {
  font-size: calc(2px + 2vmin);
}

.Semester-table a {
  color: black;
  text-decoration: none;
}

.Course-name {
  display: block;
}

.Course-name:hover {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.25);
}

.Course-teachers {
  list-style: none;
}

@media screen and (max-width: 500px), screen and (max-height: 500px) {
  .Head-cell {
    font-size: 0.7rem !important;
  }

  .Course-cell {
    font-size: 0.7rem !important;
  }
}

@media screen and (max-width: 360px) {
  .Opt-cell {
    display: none !important;
  }
}
