@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans|Ubuntu&display=swap");

body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  font-family: "IBM Plex Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
